    <!-- Bannière -->
    <div class=" row phraseAccroche center">
        Venez innover et expérimenter au campus Les Champs du Possible !
    </div>
    <div class="row slider">
        <ul class="slides">
            <li class="imgSlider">
                <img src="assets/img/image1.jpg" class="boutonSM">
            </li>
            <li class="imgSlider">
                <img src="assets/img/image2.jpg" class="boutonSM">
            </li>
            <li class="imgSlider">
                <img src="assets/img/image3.jpg" class="boutonSM">
            </li>
            <li class="imgSlider">
                <img src="assets/img/image2.jpg" class="boutonSM">
            </li>
        </ul>
    </div>

    <!--Choix d'un profil  -->
    <div class="container">
        <div class="col s12 m12 l12">
            <div id="choixProfil">Consultez nos offres en fonction de votre profil. Vous êtes ...
                <div class="row">
                    <div class="col s12 m6 l3">
                        <div class="card-panel center profilSquare">
                            <i class="material-icons iconeChoix">business_center</i>
                            <div class="card-content">
                                <a href="#" class="lienOffre">Une Entreprise</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card-panel center profilSquare">
                            <div class="card-image waves-effect waves-block waves-light">
                                <i class="material-icons iconeChoix">flight_takeoff</i>
                            </div>
                            <div class="card-content">
                                <a href="#" class="lienOffre">Une StartUp</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card-panel center profilSquare">
                            <div class="card-image waves-effect waves-block waves-light">
                                <i class="material-icons iconeChoix">face</i>
                            </div>
                            <div class="card-content">
                                <a href="#" class="lienOffre">Un Expert</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card-panel center profilSquare">
                            <div class="card-image waves-effect waves-block waves-light">
                                <i class="material-icons iconeChoix">school</i>
                            </div>
                            <div class="card-content">
                                <a href="#" class="lienOffre">Un Étudiant</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Actualités -->
    <div class="row">
        <div class="col s12 m12 l12 center">
            <h1 class="titreAccueil">Suivez notre communauté</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s1 m1 l1"><img src="/assets/img/youtube.png" class="boutonSM"/>
        </div>
        <div class="col s1 m1 l1"><img src="/assets/img/twitter.png" class="boutonSM"/>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l7">
            <article class="lastActu">
                <h2 id="titreArticle">Je suis la dernière actualité</h2>
                <img src="/assets/img/apple.jpg" id="imgArticle">
                <p class="accueil-p">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College
                    in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
                    1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical. Lorem Ipsum is not simply random text. It
                    has roots in a piece of classical. Lorem Ipsum is not simply random text. It has roots in a piece of classical. Lorem Ipsum is not simply random text. It has roots in a piece of classical.</p>
                <p class="dateArticle">
                    Posté le
                    <time datetime="2015-05-17 19:00">17 Mai</time>
                    par Tom.
                </p>
            </article>
        </div>
        <div class="col s12 m12 l5 center">
            <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fchampspossible%2F%3Fref%3Dts%26fref%3Dts&tabs=timeline&width=500&height=800&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=1222472067795207"
                width="500"
                height="600"
                style="border:none;overflow:hidden"
                scrolling="no"
                frameborder="0"
                allowTransparency="true"></iframe>
        </div>
    </div>
    <!-- Présentation du campus + vidéos -->
    <div class="row">
        <div class="col s12 m12 l12 center">
            <h1 class="titreAccueil" class="right-align">Le Campus</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">
            <p class="texteVideo">
                <span class="pinkText">DE LA FORMATION A L'INCUBATION</span><br><br>Le Campus "Les Champs du Possible" est le centre d'innovation et d'expérimentations agricoles.
                <br><br>Ici, startupers, lycéens, étudiants, professionnels, agriculteurs, développeurs, spécialistes du numérique, se rencontrent et inventent, ensemble, l'agriculture du futur !
            </p>
        </div>
        <div class="col s12 m12 l6">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/esq6JFYHUCE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/esq6JFYHUCE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col s12 m12 l6">
            <p class="texteVideo1">
                <span class="pinkText">VILLAGE BY CA</span><br><br>Le Village by CA de Châteaudun, tourné vers l’agriculture numérique, facilite votre business avec une multitude de partenaires publics et privés locaux, nationaux et internationaux.
                <br><br>Vous bénéficiez d’un vaste réseau dans lequel les startups et les grandes entreprises entrent en relation d’affaires grâce à l’interconnexion entre les Villages.
            </p>
        </div>
    </div>
</div>
<!-- Slider aveec les partenaires -->
<div class="row center">
    <div class="col s12 m12 l12">
        <h1 class="titreAccueil">Nos Partenaires / Habitants</h1>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="carousel">
            <a class="carousel-item" href="javascript:void(0)" ng-repeat='partner in vm.partners'><img ng-src="{{partner.logo}}" alt="partenaire"></a>
        </div>
    </div>
</div>
