<div class="accueil" id="accueil">
    <div class="carousel carousel-slider" id="carousel_accueil" data-indicators="true">
        <div class="carousel-fixed-item center">
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn' href='' data-activates='dropdown1'>
                Je suis .../...
            </a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li>
                    <a href="">Une entreprise</a>
                </li>
                <li>
                    <a href="">Une startup</a>
                </li>
                <li>
                    <a href="">Un expert</a>
                </li>
                <li>
                    <a href="">Un étudiant</a>
                </li>
            </ul>
        </div>
        <a class="carousel-item" href="#one!"><img src="assets/img/image1.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="assets/img/image2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="assets/img/image3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="assets/img/image4.jpg"></a>
    </div>
</div>
<script type="text/javascript">
        $('.carousel.carousel-slider').carousel({full_width: true});

        $('.dropdown-button').dropdown({
            inDuration: 300, outDuration: 225, constrain_width: true, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 2, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button

        });
</script>
