<div class="divider"></div>
<div class="row blocCampus">
    <div class="col l6 m6 s12 blockText">
        <h2 class="titreCampus">Un lycée au service de votre territoire</h2>
        <p class="campus-p">Le Lycée agricole de Nermont est dans une dynamique de développement de ses formations supérieures pour élever le niveau de qualification des jeunes et répondre à la numérisation de la profession agricole.<br><br>Un BTS Systèmes Numériques, option informatique et réseau par la voie de l’apprentissage, est désormais proposé aux étudiants. Le lycée enseigne un ensemble de formation à tous niveaux d'études (de la 4ème au BTS).<br>
            <a href="http://www.nermont.fr/" target="_blank">www.nermont.fr</a><br>
            02 37 44 60 60<br>
            <a href="mailto:accueil@nermont.fr">accueil@nermont.fr</a>
        </p>
    </div>
    <div class="col l6 m6 s12 blockImg">
        <img src="assets/img/campus.jpg" class="responsive-img">
    </div>
</div>

<div class="row blocCampus">
    <div class="col l6 m6 s12 blockImg">
        <img src="assets/img/campus2.jpg" class="responsive-img">
    </div>
    <div class="col l6 m6 s12 blockText">
        <h2 class="titreCampus">Le Village by CA</h2>
        <p class="campus-p">Le Village by CA est un lieu de partage et de création dédié au business et à l’innovation. <br><br>Il abrite une pépinière, mais ne se résume pas à l’accompagnement de startups. Sa mission : promouvoir l’innovation sous toutes ses formes, au service du développement économique des territoires, en mettant en relation des startups, des PME et des grands groupes partenaires.<br><br>La filière Jeunes Entre-prError: source does not appear to be markup.
            <br><br>
            <a href="http://www.levillagebyca.com/village/le-village-by-ca-chateaudun-2/" target="_blank">Village by CA de Châteaudun</a>
        </p>
    </div>

</div>

<div class="row blocCampus">
    <div class="col l6 m6 s12 blockText">
        <h2 class="titreCampus">Des espaces dédiés à l'expérimentation</h2>
        <p class="campus-p1">En plus, du Farmlab de 230m² et de la ferme expérimentale du Campus de 92 hectares, la Chambre d'Agriculture met à votre disposition des exploitations "agro-écologiques", des fermes-pilotes "ecophyto" ainsi que des plates-formes d'essais.
        </p>
    </div>
    <div class="col l6 m6 s12 blockImg">
        <img src="assets/img/campus3.jpg" class="responsive-img">
    </div>
</div>

<div class="row blocCampus">
    <div class="col l6 m6 s12 blockImg">
        <img src="assets/img/campus4.jpg" class="responsive-img">
    </div>
    <div class="col l6 m6 s12 blockText">
        <h2 class="titreCampus">Un écosystème dynamique</h2>
        <p class="campus-p1">L’association a développé un partenariat public/privé afin de permettre aux starts-up installées à Châteaudun de bénéficier d’une offre d’accompagnement complète.
            <br><br>De plus, un réseau de mentors spécialisés vous accompagne au quotidien.</p>
    </div>
</div>
