<div class="campus" id="campus">
    <div class="row">
        <div class="col l6 m6 s12 blockText">
            <h2 class="titreCampus">Un lycée au service de votre territoire</h2>
            <p class="campus-p">Le Lycée agricole de Nermont est dans une dynamique de développement de ses formations supérieures pour élever le niveau de qualification des jeunes et répondre aux demandes de la profession agricole, notamment celles des coopératives.<br>
                <br>
                Dans cette optique, le lycée propose un ensemble de formation à tous niveaux d'études (du CAP au BTS).<br><br>
                www.nermont.fr<br>
                02 37 44 60 60<br>
                accueil@nermont.fr
            </p>
        </div>
        <div class="col l6 m6 s12 blockImg">
            <img src="assets/img/campus.jpg" class="responsive-img">
        </div>
    </div>

    <div class="row">
        <div class="col l6 m6 s12 blockImg">
            <img src="assets/img/campus.jpg" class="responsive-img">
        </div>
        <div class="col l6 m6 s12 blockText">
            <h2 class="right-align titreCampus">Village by CA</h2>
            <p class="campus-p">Le Crédit Agricole a choisi le Campus "Les Champs du Possible" à Châteaudun pour accueillir un de ses espaces.</p>
            <p class="campus-p">Le Village by CA du Campus soutient l'innovation en agriculture et dynamise l'économie du territoire.Parce que l'innovation peut venir de chacun, de partout, et qu'elle se construit à plusieurs, nous vous proposons de découvrir
                cette nouvelle manière d'entreprendre et de travailler.</p>
        </div>

    </div>

    <div class="row">
        <div class="col l6 m6 s12 blockText">
            <h2 class="titreCampus">Des espaces dédiés à l'expérimentation</h2>
            <p class="campus-p">La Chambre d'Agriculture d'Eure-et-Loir anime un réseau d'agriculteurs "agroNumérique" engagés dans la démarche et prêts à vous accueillir.</p>
            <p class="campus-p">En plus de ce réseau, du Farmlab et de la ferme expérimentale du Campus, la Chambre d'Agriculture met à votre disposition des fermes expérimentales "agro-écologiques", des fermes-pilotes "ecophyto" ainsi que des plates-formes d'essais.</p>
            <p class="campus-p">Des petits-déjeuners entrepreneurs ainsi que des agro-business sont régulièrement organisés par l'association.</p>
        </div>
        <div class="col l6 m6 s12 blockImg">
            <img src="assets/img/campus.jpg" class="responsive-img">
        </div>
    </div>

    <div class="row">
        <div class="col l6 m6 s12 blockImg">
            <img src="assets/img/campus.jpg" class="responsive-img">
        </div>
        <div class="col l6 m6 s12 blockText">
            <h2 class="right-align titreCampus">Un écosystème dynamique</h2>
            <p class="campus-p">La campus propose des espaces de bureuax et de coworking, un Farmlab de 230m2, un amphithéâtre de 200 places, un réseau Très Haut Débit fibré et une ferme expérimentale de 92 hectares.
                Lorsque vous initiez un projet, vous pouvez avoir accès à tous les avantanges liés à la labélisation Village by CA.</p>
            <p class="campus-p"> De plus, un réseau de mentors est là pour faciliter la vie au quotidien (installation, recrutement, accompagnement financier et juridique, communication, marketing, stratégie digitale).</p>
        </div>
    </div>
</div>
