<div class="campus" id="campus">
    <div class="row">
        <div class="col l6 m6 s12 blockText">
            <h2 class="titreCampus">Un lycée au service de votre territoire</h2>
            <p class="campus-p">Le Lycée agricole de Nermont est dans une dynamique de développement de ses formations supérieures pour élever le niveau de qualification des jeunes et répondre aux demandes de la profession agricole, notamment celles des coopératives.<br>
                <br>
                Dans cette optique, le lycée propose un ensemble de formation à tous niveaux d'études (du CAP au BTS).<br><br>
                www.nermont.fr<br>
                02 37 44 60 60<br>
                accueil@nermont.fr
            </p>
        </div>
        <div class="col l6 m6 s12 blockImg">
            <img src="assets/img/campus.jpg" class="responsive-img">
        </div>
    </div>

    <div class="row">
        <div class="col l6 m6 s12 blockImg">
            <img src="assets/img/campus.jpg" class="responsive-img">
        </div>
        <div class="col l6 m6 s12 blockText">
            <h2 class="right-align titreCampus">Village by CA</h2>
            <p class="campus-p">Le Crédit Agricole a choisi le Campus "Les Champs du Possible" à Châteaudun pour accueillir un de ses espaces.</p>
            <p class="campus-p">Le Village by CA du Campus soutient l'innovation en agriculture et dynamise l'économie du territoire.Parce que l'innovation peut venir de chacun, de partout, et qu'elle se construit à plusieurs, nous vous proposons de découvrir cette nouvelle manière d'entreprendre et de travailler.</p>
        </div>

    </div>

    <div class="row">
        <div class="col l6 m6 s12 blockText">
            <h2 class="titreCampus">Des espaces dédiés à l'expérimentation</h2>
            <p class="campus-p">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes
                from a line in section 1.10.32.</p>
        </div>
        <div class="col l6 m6 s12 blockImg">
            <img src="assets/img/campus.jpg" class="responsive-img">
        </div>
    </div>

    <div class="row">
        <div class="col l6 m6 s12 blockImg">
            <img src="assets/img/campus.jpg" class="responsive-img">
        </div>
        <div class="col l6 m6 s12 blockText">
            <h2 class="right-align titreCampus">Un écosystème dynamique</h2>
            <p class="campus-p">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes
                from a line in section 1.10.32.</p>
        </div>
    </div>
</div>
