<footer class="page-footer">
    <div class="container">
        <div class="row center">
            <h1 class="white-text titreFooter">Contactez-Nous</h1>
            <div class="col l4 m12 s12 center-align">
                <i class="medium material-icons white-text iconeContact" ng-click="showme= showme == false ? true: false">place</i>
                <p class="white-text" ng-show="showme">Campus Les Champs du Possible<br>2 Route de Mondoucet<br>28200 Châteaudun<br><br></p>
            </div>
            <div class="col l4 m12 s12 center-align">
                <i class="medium material-icons white-text iconeContact" ng-click="showme1= showme1 == false ? true: false">phone</i>
                <p class="white-text" ng-show="showme1">06.74.06.66.20<br><br></p>
            </div>
            <div class="col l4 m12 s12 center-align">
                <i class="medium material-icons white-text iconeContact" ng-click="showme2= showme2 == false ? true: false">email</i>
                <p class="white-text" ng-show="showme2">contact@campusleschampsdupossible.com<br><br></p>
            </div>
        </div>
    </div>
    <div class="footer-copyright black">
        <div class="container center-align">
            <div class="row">
                <div class="col l12 m12 s12">
                    <a class="grey-text text-lighten-4 " href="#!">Mentions Légales -</a>
                    <a class="white-text adminAccess" target="_blank" href="/admin/">Administration</a>
                </div>
            </div>
        </div>
    </div>
</footer>
