<footer class="page-footer">
    <div class="container">
        <div class="row center">
            <h1 class="white-text titreFooter">Contactez-Nous</h1>
            <div class="col l4 m12 s12 center-align">
                <i class="medium material-icons pink-text iconeContact">place</i>
                <p class="white-text">Campus Les Champs du Possible<br>2 Route de Mondoucet<br>28200 Châteaudun<br><br></p>
            </div>
            <div class="col l4 m12 s12 center-align">
                <i class="medium material-icons pink-text iconeContact">phone</i>
                <p class="white-text">06.74.06.66.20<br><br></p>
            </div>
            <div class="col l4 m12 s12 center-align">
                <i class="medium material-icons pink-text iconeContact">email</i>
                <p class="white-text">contact@campusleschampsdupossible.com<br><br></p>
            </div>
        </div>
    </div>
    <div class="footer-copyright black">
        <div class="container center-align">
            <div class="row">
                <div class="col l12 m12 s12">
                    <a class="grey-text text-lighten-4 modal-trigger modal1" href="#modal1">Mentions Légales -</a>
                    <a class="white-text adminAccess" href="../admin/index.html">Administration</a>
                    <ng-include src="'views/ML.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('.modal1').modal();
        });
    </script>
</footer>
