<footer class="page-footer">
    <div class="container">
        <div class="row center">
            <h1>Contactez-nous</h1>
            <div class="col l4 s12">
                <i class="large material-icons">place</i>
                <p>
                  Route de Courtalain - LA CHAPELLE DU NOYER<br>28200 - Châteaudun
                </p>
            </div>
            <div class="col l4 s12">
                <i class="large material-icons">phone</i>
                <p>
                  06.74.06.66.20
                </p>
            </div>
            <div class="col l4 s12">
                <i class="large material-icons">email</i>
                <p>
                  contact@campusleschampsdupossible.com
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="grey-text text-lighten-4 center-align" href="#!">Mentions Légales</a>
        </div>
    </div>
</footer>
