<div class="navbar-fixed">
    <nav class="navbar navbar-inverse black" role="navigation" ng-controller='navbarController as vm'>
        <div class="nav-wrapper">
            <a class="navbar hide-on-med-and-down" href="#/"><img class="responsive-img" src="assets/img/logo.png" id="logoCDP"/></a>
            <a class="navbar hide-on-med-and-down" href="http://www.levillagebyca.com/village/le-village-by-ca-chateaudun-2/" target=_blank><img class="responsive-img" src="assets/img/CA1.jpg" id="logoCA"/></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="#accueil" class="hide-on-med-and-down rubriqueNav waves-effect waves-red">Accueil</a>
                </li>
                <li>
                    <a href="#campus" class="hide-on-med-and-down rubriqueNav waves-effect waves-red">Le Campus</a>
                </li>
                <li>
                    <a href="#offres" class="hide-on-med-and-down rubriqueNav waves-effect waves-red">Notre offre</a>
                </li>
                <li>
                    <a href="#partenaires" class="hide-on-med-and-down rubriqueNav waves-effect waves-red">Habitants / Partenaires</a>
                </li>
                <li>
                    <a href="#candidatures" class="waves-effect waves-light btn pink white-text hide-on-med-and-down rubriqueNav">Ephemere</a>
                </li>
                <li>
                    <a href="http://campuslcdp.typeform.com/to/tiOqc1" target="_blank" class="waves-effect waves-light btn pink white-text hide-on-med-and-down rubriqueNav">Rejoignez-Nous</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="#accueil" class="rubriqueNav">Accueil</a>
                </li>
                <li>
                    <a href="#campus" class="rubriqueNav">Le Campus</a>
                </li>
                <li>
                    <a href="#offres" class="rubriqueNav">Notre offre</a>
                </li>
                <li>
                    <a href="#partenaires" class="rubriqueNav">Habitants/Partenaires</a>
                </li>
                <li>
                    <a href="#candidatures" class="rubriqueNav">Ephemere</a>
                </li>
                <li>
                    <a href="http://campuslcdp.typeform.com/to/tiOqc1" target="_blank" class="rubriqueNav">Rejoignez-Nous</a>
                </li>
            </ul>
            <script>$(".button-collapse").sideNav();</script>
        </div>
    </nav>
</div>
