<div class="navbar-fixed">
    <nav class="navbar navbar-inverse black" role="navigation" ng-controller='navbarController as vm'>
        <div class="nav-wrapper">
          <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">view_headline</i></a> -->
            <a class="navbar-brand" href="#/"><img src="assets/img/logo.png" id="logoCDP"/></a>
            <a class="navbar-brand" href="#/"><img src="assets/img/CA1.jpg" id="logoCA"/></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="#accueil">Accueil</a>
                </li>
                <li>
                  <a href="#actualites">Actualités</a>
                </li>
                <li>
                    <a href="#campus">Le Campus</a>
                </li>
                <li>
                    <a href="#offres">Notre offre</a>
                </li>
                <li>
                  <a href="#partenaires">Habitant / Partenaire</a>
                </li>
                <li>
                    <a href="#candidatures" class="waves-effect waves-light btn white black-text">Ephemere</a>
                </li>
                <li>
                    <a href="#rejoindre" class="waves-effect waves-light btn white black-text">Rejoignez-Nous</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
