<div class="row blocTri" ng-model="query">
    <div class="col s12 m12 l2 center-align triOffre btn black white-text">VOTRE PROFIL :</div>
    <div class="col s6 m6 l2 textTri center">
        <a class="center-align waves-effect waves-light btn black white-text typePartner" ng-click="query=''">
            <i class="material-icons left iconeTripartners">language</i>Tous</a>.
    </div>
    <div class="col s6 m6 l2 textTri center">
        <a class="center-align waves-effect waves-light btn black white-text" ng-click="query='Startup'">
            <i class="material-icons left iconeTripartners">flight_takeoff</i>Startup</a>
    </div>
    <div class="col s6 m6 l2 textTri center">
        <a class="center-align waves-effect waves-light btn black white-text" ng-click="query='Entreprise'">
            <i class="material-icons left iconeTripartners">business_center</i>Entreprise</a>
    </div>
    <div class="col s6 m6 l2 textTri center">
        <a class="center-align waves-effect waves-light btn black white-text" ng-click="query='Mentor'">
            <i class="material-icons left iconeTripartners">face</i>Mentor</a>
    </div>
    <div class="col s12 m12 l2 textTri center">
        <a class="center-align waves-effect waves-light btn black white-text" ng-click="query='Etudiant'">
            <i class="material-icons left iconeTripartners">school</i>Étudiant</a>
    </div>
</div>

<div class="row valign-wrapper" ng-repeat='offre in vm.offres | filter:{type:query} | orderBy:ordre'>
    <div class="col s3 m3 l3 center-align valign"><img ng-src="{{offre.logo}}" class="circle imgOffre"/></div>
    <div class="col s9 m9 l9 center-align valign">
        <h2 class="titreOffre">{{offre.titre}}</h2>
        <p class="textOffre">{{offre.texte}}</p>
    </div>
</div>
