<div class="offres" id="offres">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 l4">Choisissez votre profil : </div>
            <div class="col s6 m2 l2"><i class="material-icons">flight_takeoff</i>Startup</div>
            <div class="col s6 m2 l2"><i class="material-icons">business_center</i>Entreprise</div>
            <div class="col s6 m2 l2"><i class="material-icons">face</i>Mentor</div>
            <div class="col s6 m2 l2"><i class="material-icons">school</i>Étudiant</div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12"></div>
    </div>
</div>
