<div class="row partenaires" id="partenaires">
    <div class="divider"></div>
    <div class="phraseAccroche center">
        Partenaires et Habitants
    </div>

    <!-- Zone de sélection d'affichage (boutons): Tous, Habitants ou Partenaires -->
    <div class="row valign-wrapper blocTriOffre" ng-model="query">
        <div class="col s12 m4 l4 center-align valign triOffre">Choisissez votre filtre :</div>
        <button class=" col s6 m2 l2 center-align valign btn triOffre" ng-click="query=''">
            <i class="material-icons iconeOffre" value="">language</i>
            Tous
        </button>
        <button class="col s6 m4 l4 center-align valign btn triOffre" ng-click="query='Partenaire'">
            <i class="material-icons iconeOffre" value="a">supervisor_account</i>
            Partenaires</button>
        <button class="col s6 m4 l4 center-align valign btn triOffre" ng-click="query='Habitant'">
            <i class="material-icons iconeOffre" value="b">assignment_ind</i>
            Habitants</button>
    </div>
    <!-- Zone de sélection d'affichage (liste): Tous, Habitants ou Partenaires -->
    <!-- <div class="input-field col s12 l12">
        <select ng-model="query" class="browser-default">
            <option value="" disabled selected>Sélection d'affichage</option>
            <option value="">Option tous</option>
            <option value="Partenaire">Option a</option>
            <option value="Habitant">Option b</option>
        </select>
    </div> -->
</div>

<!-- Affichage des cards -->
<div class="row">
    <div class="col s6 m4 l2" ng-repeat='partner in vm.partners |filter:{type:query} | orderBy:nom'>
              <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src={{partner.logo}}>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{partner.nom}}<i class="material-icons right">more_vert</i></span>
              <p><a href="#">{{partner.lien}}</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{partner.nom}}<i class="material-icons right">close</i></span>
              <p>{{partner.smallDescription}}</p>
            </div>
          </div>
    </div>
</div>
