*, *:after, *:before {
    box-sizing: border-box;
}

figure {
    color: #fff;
    font-weight: 400;
    font-family: 'Raleway', Arial, sans-serif;
}

#supModal {
    padding: 60px;
}

#warning {
    margin-bottom: 40px;
}

.warning {
    color: red;
}

.grid-image {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}


/* Common style */

.grid-image figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    text-align: center;
    cursor: pointer;
}

.grid-image figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    backface-visibility: hidden;
}

.grid-image figure figcaption::before, .grid-image figure figcaption::after {
    pointer-events: none;
}

.grid-image figure figcaption, .grid-image figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid-image figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid-image figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid-image figure h2 span {
    font-weight: 800;
}

.grid-image figure h2, .grid-image figure p {
    margin: 0;
}

.grid-image figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/*.card-content {
    .divHidden {
        visibility: hidden;
    }
    .divHidden:hover {
        visibility: visible;
    }
}*/
