/* Général*/

body {
    background-color: pink;
    list-style-type: none;
}

h1 {
    font-size: 2em;
}

.btn {
    background-color: #f44336;
}

.btn-large {
    background-color: #f44336;
}

.btn:hover {
    background-color: #ff7400;
}

.btn-large:hover {
    background-color: #ff7400;
}

.titreAdmin {
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px black;
}

/* SideNav Admin */

#sideNavAdmin {
    position: absolute;
}

#titrePanneau {
    color: #D9009F;
    font-size: 20px;
    font-weight: bold;
}

#question {
    font-size: 17px;
}

.userView {
    padding : 25% 10% 40% 10%!important;
}

.itemSideNavAdmin {
    padding: 0 0 5% 15%!important;
}


/* Accueil */

#panel {
    background: url('../../assets/img/headerpanel.jpg') !important;
}

.circle {
    height: 15%;
    width: 15%;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.firstrow {
    background-color: black;
    background-size: cover;
    height: 245px;
}

.boxpanel {
    font-family: " class="userView" class="userView" class="userView"";
    font-size: 45px;
    font-weight: bolder;
    color: #FFDBFA;
}

.secondrow {
    background-color: black;
    background-size: cover;
    height: 245px;
}

.boxpanel2 {
    font-family: "Raleway";
    font-size: 55px;
    font-weight: bolder;
    color: #FFDBFA;
}


/* Actualités */

.boutonAdminNews {
    margin: 0 0 1% 0;
}
