* {
    margin: 0;
    padding: 0;
}


/* Barre de navigation */

.navbar-fixed {
    width: 70vw;
}

#logoCDP {
    height: 190px;
    left: -30px;
    position: relative;
    top: -60px;
    width: 200px;
}

#logoCA {
    height: 60px;
    left: -30px;
    position: relative;
    top: -130px;
    width: 95px;
}


/* Page accueil */

#carousel_accueil {
    top: 10px;
    width: 100%;
}

.jesuis {
    position: absolute;
}


/* Le Campus */

.titreCampus {
    color: black;
    font-size: 30px;
}

.titreCampus2 {
    color: black;
    font-size: 30px;
}

.blockText {
    padding: 20%;
}

p {
    font-size: 20px;
    line-height: 200%;
    text-indent: 3em;
}


/* Footer */

.card {
    height: 100px!important;
}

.titre {
    position: absolute;
    width: 100%;
    z-index: 100;
}


/* Taille des cards et photos*/

.card {
    height: 200px!important;
}

.activator {
    height: 100px!important;
}

.imgCategories {
    width: 99vw!important;
}
