.navbar-yellow {
    width: 100vw;
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    background-color: #FFF94D;
}

.navbar-brand img {
    height: 190px;
    left: -40px;
    position: relative;
    top: -70px;
    width: 200px;
}

.imgsocial>img {
    width: 6%;
}

.imglogo>img {
    width: 15%;
}

 /** page accueil **/

#carousel_accueil {
    top: 10px;
    width: 100%;
}
img {
  max-width: 100%;
}
