<ng-include src="'../views/admin/sidenav.html'"></ng-include>
<div class="container">

    <!-- Titre -->
    <div class="row">
        <h3 class="center-align titreAdmin">Images carrousel</h3>
    </div>

    <!-- Boutons ajout, tri, recherches -->
    <div class="row ">
        <button class="boutonAdmin boutonAdd" ng-click="order='-_id'; vm.create() ; Materialize.toast('Insérez votre actualité', 2500, 'rounded')" class="col l4 center-align valign btn triOffre waves-effect">
                Ajouter
        </button>

        <select ng-model="order" class="browser-default col s2 m2 l2">
          <option value="" disabled selected>Ordre d'affichage</option>
          <option value="ordre">Ordre croissant</option>
          <option value="-ordre">Ordre décroissant</option>
        </select>
    </div>


    <!-- Affichage des données de la table home -->
    <div class="row col l12 offset-l2 l8 offset-l2 z-depth-6 card-panel" ng-repeat='home in vm.homes | orderBy:order'>
        <input type="text" class="form-control" placeholder="Lien sur click" ng-model='home.lienClick'>
        <input type="text" class="form-control" placeholder="Ordre d'affichage" ng-model='home.ordre'>
        <input onchange='openFile(event)' file-upload type="file" placeholder="Image" id="uploadImage-{{$index}}" accept="image/*" name='file'>
        <br>
        <img src="{{home.lienImg}}" width="300px" name="showPict" alt="Image home" id='output' />
    </div>


    <!-- Boutons Enregistrer Supprimer-->
    <div class="row">
        <button ng-click='vm.update(home, $index)' class="col s3 m3 l3 offset-l2 center-align valign btn waves-effect boutonAdminNews" onclick=" Materialize.toast('Image enregistrée', 2500, 'rounded') ">
          Enregistrer
        </button>
        <button ng-click='vm.delete(home)' class="col col s3 m3 l3 offset-l2 center-align valign btn waves-effect boutonAdminNews" onclick=" Materialize.toast('Image supprimée', 2500, 'rounded')">
          Supprimer
        </button>
    </div>
</div>

<!-- script visualisation image avant enregistrement -->
<script type="text/javascript">
    // affichage image
    var openFile = function(event) {
        var input = event.target;

        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('output');
            var dataURL = reader.result;
            output.src = dataURL;
        };
        reader.readAsDataURL(input.files[0]);
    };
</script>
</div>
