<ng-include src="'../views/admin/sidenav.html'"></ng-include>
<div class="row" id="ephemeresAdm">
    <div class="phraseAccroche row valign-wrapper">
        <h3 class="col s12 m6 l8">{{vm.ephemeres.length }}
            - Bouton ephémére</h3>
        <button ng-click="order='-_id'; vm.create() ; Materialize.toast('Modifiez votre Bouton', 2500, 'rounded')" class=" waves-effect amber lighten-4 black modal-trigger col s12 m6 l4 ">
            <i class="material-icons">add</i>Ajouter un bouton ephemere
        </button>
    </div>

    <!-- Affichage des données de la table ephemeres -->
    <div class="panel panel-default"  ng-model="order" ng-repeat='ephemere in vm.ephemeres |orderBy:order'>
        <div class="divider"></div>
        <br>
        <br>
        <div class="panel-body">
            <form class="form-inline">
                <div class="col l6">
                    <form action="/api/picture" enctype="multipart/form-data" method="post">
                        <label>{{$index}}</label>
                        <!--ID  <input type="text" class="form-control" ng-model='ephemere._id'> -->
                        <input type="text" class="form-control" placeholder="Titre" ng-model='ephemere.titreEphemere'>
                        <input type="text" class="form-control" placeholder="Lien sur click" ng-model='ephemere.lienEphemere'>
                        <!-- <option type="text" ng-model='ephemere.cacheEphemere' class='option'> -->
                    </form>
                </div>
                <button ng-click='vm.update(ephemere, $index)' class="waves-effect amber lighten-4 black modal-trigger" onclick=" Materialize.toast('Nouvelle enregistrée', 2500, 'rounded') ">
                    <i class="material-icons">mode_edit</i>Enregistrer le bouton
                </button>
                <button ng-click='vm.delete(ephemere)' class="waves-effect amber lighten-4 black modal-trigger" onclick=" Materialize.toast('Nouvelle supprimée', 2500, 'rounded')">
                    <i class="material-icons">delete</i>Supprimer le bouton
                </button>
            </form>
        </div>
    </div>
</div>
