<main>
    <div class="container">
        <div id="panel" class="col offset-l4 l4 offset-l4 z-depth-6 card-panel">
            <div class="col offset-l4 l4 offset-l4">
                <img class="circle" src="../../assets/img/girl.jpg">
                <p class="center-align white-text">Bienvenue sur l'interface d'administration !</p>
            </div>
        </div>

        <div class="row">
            <div class="col l4">
                <div class="valign-wrapper firstrow">
                    <a class="valign center-block boxpanel" href="#/news">Actualités</a>
                </div>
            </div>

            <div class="col l4">
                <div class="valign-wrapper firstrow">
                    <a class="valign center-block boxpanel" href="#/offres">Offres</a>
                </div>
            </div>

            <div class="col l4">
                <div class="valign-wrapper firstrow">
                    <a class="valign center-block boxpanel" href="#/accueil">Carrousel</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col l6">
                <div class="valign-wrapper secondrow">
                    <a class="valign center-block boxpanel2" href="#/ephemere">Ephémére</a>
                </div>
            </div>

            <div class="col l6">
                <div class="valign-wrapper secondrow">
                    <a class="valign center-block boxpanel2" href="#/partenaires">Partenaire</a>
                </div>
            </div>
        </div>
    </div>
</main>
