<main>
    <div class="container">
        <div id="panel" class="col offset-l4 l4 offset-l4 z-depth-6 card-panel">
            <div class="col offset-l4 l4 offset-l4">
                <p class="center-align white-text name">Administrez les Champs du possible</p>
                <p class="center-align white-text email">Que souhaitez-vous faire ?</p>
            </div>
        </div>

        <div class="row">
            <div class="grid-image">
                <figure class="effect-layla">
                    <img src="https://jquery-css.de/items/10/00/61/56/89/livepreview.jpg" alt=""/>
                    <figcaption>
                        <h2>Accueil
                            <span></span>
                        </h2>
                        <p>Administrer l'Accueil.</p>
                        <a href="#/accueil">View more</a>
                    </figcaption>
                </figure>
                <figure class="effect-layla">
                    <img src="https://jquery-css.de/items/10/00/61/56/89/livepreview.jpg" alt=""/>
                    <figcaption>
                        <h2>Campus
                            <span></span>
                        </h2>
                        <p>Administrer le Campus.</p>
                        <a href="#/campus">View more</a>
                    </figcaption>
                </figure>
                <figure class="effect-layla">
                    <img src="https://jquery-css.de/items/10/00/61/56/89/livepreview.jpg" alt=""/>
                    <figcaption>
                        <h2>Offres
                            <span></span>
                        </h2>
                        <p>Administrer les offres.</p>
                        <a href="#/offres">View more</a>
                    </figcaption>
                </figure>
                <figure class="effect-layla">
                    <img src="https://jquery-css.de/items/10/00/61/56/89/livepreview.jpg" alt=""/>
                    <figcaption>
                        <h2>Habitants /Partenaires
                            <span></span>
                        </h2>
                        <p>Administrer les Habitants /Partenaires.</p>
                        <a href="#/partenaires">View more</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</main>
